{% extends "layout.html" %}
{% block content %}
    <!-- Uses class from 'main.css' file -->
    <div class="content-section">
        <!-- When form is POSTed, program continues on the same route because of ' action="" ' -->
        <form method="POST" action="">
            <!-- Adds CSRF (Cross-side request forgery) token
                  Allows for security -->
            {{ form.hidden_tag() }}
            <!-- 'form-group' is created by Bootstrap -->
            <fieldset class="form-group">
                <!-- mb-4 : margin bottom, with a value of 4 -->
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group">
                    <!-- Prints label from username field. Uses Bootstrap -->
                    {{ form.username.label(class="form-control-label") }}

                    <!-- Error during user input phase -->
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <!-- Blue outline button -->
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <!-- padding value of 3 -->
    <div class="border-top pt-3">
        <!-- Faded-out text -->
        <small class="text-muted">
            <!--  '< a >' : Ancer tag; ml-2 : margin-left of 2 -->
            Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}